.white-transparent {
    background-color: rgba(255, 255, 255, 0.288);
}

.white-transparent2 {
    background-color: rgba(255, 255, 255, 0.89);
}

.black-transparent {
    background-color: rgba(82, 82, 82, 0.61);
}

.green-transparent {
    background-color: rgba(34, 114, 9, 0.534);
}

.header-title { 
    background-color: rgba(46, 41, 1, 0.589);
    font-variant: small-caps;
}

.header-back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu {
}
.menu:hover{
    border-right: solid 1px white;
    border-radius: 100px 0px 0px 100px;
}

.menu-over{
    border-right: solid 1px white;
    border-radius: 100px 0px 0px 100px;
    
}

.cacher {
    transform: scale(0);
}

/* Toggle A */
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}
  
  /* Toggle B */
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}


.img-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-center{
    background-position: center;
    background-repeat: no-repeat;
}
.green2-transparent {
    background-color: #0000007c;
}




/* Menu deroulant */


/* nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}


nav a:hover{
    color: #018112;
    border-bottom: 2px solid #018112;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
 */
